@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --solid-colors--black: #1f1f1f;
  --solid-colors--darkpurple: #312536;
  --gradient-color--purple: #ab77ff;
  --gradient-color--darkpurple: #b03de2;
  --gradient-color--blue: #02f;
}