.loading-image {
  width: 72px;
  object-fit: contain;
  animation: load 1s ease-in-out infinite;
}

@keyframes load {
  0% {
    transform: translateY();
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY();
  }
}

.loading-background {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(137deg, var(--gradient-color--purple), var(--gradient-color--blue));
  z-index: 999;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.loading-hidden {
  opacity: 0 !important;
}

.fade-display {
  display: none;
}

.header-container {
  position: absolute;
  top: 10.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 80%;
  text-align: center;
  gap: .5rem;
  display: flex;
  flex-direction: column;
}

.text-header {
  color: #fff;
  background-image: linear-gradient(120deg,#02f -100%, #b03de2 40%, 70%, #02f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: -.04em;
  font-size: 3.5rem;
  font-weight: 600;
}

.text-header-mobile {
  color: #fff;
  background-image: linear-gradient(120deg,#02f -100%, #b03de2 40%, 70%, #02f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: -.04em;
  font-size: 2rem;
  font-weight: 600;
}

.styled-text {
  background-image: linear-gradient(120deg,#02f -100%, #b03de2 40%, 70%, #02f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.styled-divider {
  width: 100%;
  height: 1px;
  position: relative;
}

.styled-divider:before {
  bottom: 0;
  z-index: 0;
  content: "";
  width: 500px;
  height: 40px;
  position: absolute;
  left: calc(50% - 250px);
  border-bottom: 1px solid;
  border-image-source: linear-gradient(90deg, transparent, rgba(143, 120, 255, 0.5) 50%, transparent);
  border-image-slice: 1;
  background: radial-gradient(50% 100% at 50% 100%, rgba(154, 102, 219, 0.1) 0, rgba(1, 3, 20, 0) 100%);
}

.styled-divider:after {
  top: 0;
  z-index: 0;
  content: "";
  width: 1000px;
  height: 80px;
  position: absolute;
  left: calc(50% - 500px);
  border-top: 1px solid;
  border-image-source: linear-gradient(90deg, transparent, rgba(143, 120, 255, .5) 50%, transparent);
  border-image-slice: 1;
  background: radial-gradient(43.9% 100% at 50% 0, rgba(154, 102, 219, 0.15) 0, rgba(1, 3, 20, 0) 100%);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.prod.website-files.com/64e655d42d3be60f582d0472/64ed03812dcb25c818ff40ce_abstract-lines-2.png');
  background-repeat: no-repeat;
  background-size: 150%;
  animation: floatBackground 10s ease-in-out infinite;
  .background-image img {
    transform: scale(2);
  }
}

@keyframes floatBackground {
  0% {
    transform: translateY(70px);
  }
  50% {
    transform: translateY(90px);
  }
  100% {
    transform: translateY(70px);
  }
}

.gradient-background {
  background-image: linear-gradient(120deg, #ab77ff, #5318eb);
}

.normal-text-header-dark {
  color: var(--solid-colors--black);
  letter-spacing: -.04em;
  font-size: 5rem;
  line-height: 4.5rem;
  padding: 1rem 0rem;
  font-weight: 700;
}

.normal-text-header-light {
  color: #fff;
  letter-spacing: -.04em;
  font-size: 4rem;
  font-weight: 500;
}

.cta-header {
  color: #fff;
  letter-spacing: -.04em;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 300;
  text-align: center;
}

.cta-header-mobile {
  color: #fff;
  letter-spacing: -.04em;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 300;
  text-align: center;
}

.cta-button {
  color: #fff;
  font-weight: 200;
  padding: 8px 17px;
  background: linear-gradient(103deg, var(--gradient-color--purple), var(--gradient-color--blue));
  border-radius: 8px;
  cursor: pointer;
  transition-duration: .5s;
  box-shadow: 0 2px 5px rgba(16, 0, 51, .4), inset 0 0 12px rgba(255, 255, 255, 0.1), inset 0 -8px 32px rgba(30, 13, 73, 0.75);
}

.cta-button:hover {
  box-shadow: none;
}