.calculator-categories {
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
}

.calculator-input-container {
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #868685;
  transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  font-weight: 600;
  font-size: 24px;
}
.calculator-input-container:hover {
  box-shadow: inset 0 0 0 2px #868685;
}
.calculator-input-container:focus-within {
  box-shadow: inset 0 0 0 3px #163300;
}

.calculator-calculation-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.calculator-operator-container {
  background-color: rgba(22,51,0,.1);
  width: 1rem;
  height: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-bottom: .25rem;
}

.calculator-empty-operator-container {
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-empty-operator {
  background-color: rgba(22,51,0,.1);
  width: .5rem;
  height: .5rem;
}

.calculator-entire-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calculator-divider {
  background-color: #e1e1e1;
  height: 1px;
  width: 100%;
}