.cta-header {
  color: #fff;
  letter-spacing: -.04em;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 300;
  text-align: center;
}

.cta-button {
  color: #fff;
  font-weight: 200;
  padding: 8px 17px;
  background: linear-gradient(103deg, var(--gradient-color--purple), var(--gradient-color--blue));
  border-radius: 8px;
  cursor: pointer;
  transition-duration: .5s;
  box-shadow: 0 2px 5px rgba(16, 0, 51, .4), inset 0 0 12px rgba(255, 255, 255, 0.1), inset 0 -8px 32px rgba(30, 13, 73, 0.75);
}

.cta-button:hover {
  box-shadow: none;
}